.margin {
    width: 1090px;
    margin: 0 auto;
}

.top {
    background: #000;
    font-size: 12px;
    line-height: 30px;
}

.top .margin {
    display: flex;
    justify-content: space-between;
}

.top .margin .left span {
    color: #999;
    padding-left: 12px;
}

.top .margin .left .a,
.top .margin .left .b,
.top .margin .left .c {
    cursor: pointer;
}

.top .margin .left .a:hover,
.top .margin .left .b:hover,
.top .margin .left .c:hover {
    color: #fff;
}

.top .margin .right span {
    color: #999;
    padding: 15px;
}

.top .margin .right .a,
.top .margin .right .b {
    cursor: pointer;
}

.top .margin .right .a:hover,
.top .margin .right .b:hover {
    color: #fff;
}

.top .margin .right .c {
    position: relative;
}

.top .margin .right .c .ul_sp {
    position: absolute;
    left: 10px;
    top: 0;
    display: none;
}

.top .margin .right .c .ul_sp .li_sp {
    padding-top: 6px;
    line-height: 30px;
    background: #fff;
    width: 78px;
    text-indent: 8px;
}

.top .margin .right .c .ul_sp .li_sp:hover {
    color: #ff1e32;
    cursor: pointer;
}

.top .margin .right .c:hover .ul_sp {
    display: block;
    left: 10px;
}

header {
    height: 120px;
    background-color: #fff;
    padding-top: 20px;
}

header .margin {
    display: flex;
    justify-content: space-between;
}

header .margin .left img {
    width: 200px;
    height: 65px;
}

header .margin .center input {
    width: 510px;
    height: 40px;
    border: 2px solid #ff050e;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

header .margin .center button {
    width: 60px;
    height: 40px;
    background: #ff050e;
    border: 0;
    border-radius: 30px;
    margin-left: -60px;
    outline: none;
    cursor: pointer;
}

header .margin .center button i {
    color: #fff;
    font-weight: bold;
}

header .margin .center .center_b {
    margin-top: 6px;
}

header .margin .center .center_b span {
    color: #999;
    padding: 0 12px;
}

header .margin .center .center_b .a {
    color: #ff050e;
}

header .margin .right {
    margin-right: 15px;
    width: 110px;
    height: 40px;
    border: 2px solid #ff050e;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
}

header .margin .right:hover {
    cursor: pointer;
}

header .margin .right i {
    font-size: 26px;
    color: #ff050e;
}

header .margin .right span {
    line-height: 40px;
    font-size: 12px;
}

.banner {
    margin-top: -40px;
}

.banner .Btop {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.banner .Btop span {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    line-height: 40px;
}

.banner .Btop span:hover {
    color: #ff050e;
    cursor: pointer;
}

.banner .Btop .tt {
    height: 40px;
    width: 160px;
    background: #ff050e;
}

.banner .Btop .tt span {
    color: #fff;
}

.banner .Btop .tt span i {
    padding: 15px;
}

.banner .bcenter .red {
    padding-top: 20px;
    height: 80px;
    text-align: center;
    color: #fff;
    background: url(../../img/act1.png) no-repeat center;
}

.banner .bcenter .red .a {
    font-size: 36px;
    font-weight: bolder;
}

.banner .bcenter .red .b {
    font-size: 14px;
    margin: 0 5px 10px 18px;
}

.banner .bcenter .red .time_ul {}

.banner .bcenter .red .time_ul span {
    font-size: 36px;
    font-weight: bolder;
    background-color: #000;
    color: white;
    margin-right: 15px;
}

.tabbox ul {
    list-style: none;
    display: table;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabbox ul li {
    width: 180px;
    line-height: 50px;
    text-align: center;
    background-color: #333;
    margin-right: -1px;
    color: #e73839;
    cursor: pointer;
}

.tabbox ul li.active {
    background-color: #e73839;
    color: white;
    font-weight: bold;
}

.tabbox .content {
    margin-top: 15px;
    padding: 20px;
}

.tabbox .content>div {
    display: none;
}

.tabbox .content>div img {
    width: 140px;
    height: 140px;
}

.tabbox .content>div.active {
    display: block;
}

.new .box {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.new .box .a {
    font-size: 30px;
    line-height: 78px;
    color: #fff;
}

.new_ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 1000px; */
}

.new_ul .new_li {
    background: #fff;
    /* width: 194px; */
}

.new_ul .new_li:hover {
    cursor: pointer;
}

.new_ul .new_li .imgwrap {
    height: 194px;
    width: 194px;
    background-position: center center;
    background-size: cover;
}

.new_ul .new_li .imgwrap img {
    width: 194px;
    height: 194px;
}

.new_ul .new_li .lic {
    width: 194px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.new_ul .new_li .lic a {
    line-height: 28px;
    font-weight: bold;
    color: #333;
}

.new_ul .new_li .lic span {
    font-size: 12px;
    color: #666;
    line-height: 26px;
}

.new_ul .new_li .lic .lib {
    display: flex;
    justify-content: space-between;
    width: 182px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.new_ul .new_li .lic .lib span {
    color: #ff1e32;
}


/* .new_ul .new_li .lic .lib .ibox {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #ff1e32;
    display: block;
}

.new_ul .new_li .lic .lib .ibox i {
    color: #fff;
    line-height: 28px;
}

.new_ul .new_li .lic .lib .ibox i:hover {
    cursor: pointer;
} */

.flex,
.acenter,
.acenter .left .l_center,
.acenter .center,
.acenter .right,
footer .margin .a,
footer .margin .b,
footer .margin .c,
footer .margin .d {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    background: #fff;
}

.about .margin .atop {
    height: 147px;
    border-bottom: 1px solid #999;
    display: flex;
    align-items: center;
}

.about .margin .atop img {
    width: 960px;
}

.acenter {
    padding: 45px 0 90px;
}

.acenter .left .l_top {
    display: flex;
}

.acenter .left .l_top img {
    width: 220px;
    height: 40px;
    margin-bottom: 20px;
}

.acenter .center dl {
    margin: 0 20px 0 20px;
}

.acenter .center dl dt {
    font-size: 18px;
    color: #333;
    line-height: 26px;
}

.acenter .center dl dd {
    font-size: 12px;
    color: #333;
    line-height: 29px;
}

.acenter .center dl dd:hover {
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.acenter .right {
    flex-direction: column;
}

.acenter .right img {
    width: 108px;
    height: 108px;
}

.acenter .right span {
    font-size: 14px;
    color: #333;
}

.acenter .right span:hover {
    cursor: pointer;
    border-bottom: 1px solid #333;
}

footer {
    height: 256px;
    background: #333;
}

footer .margin {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

footer .margin .a {
    justify-content: center;
    font-size: 14px;
    color: #c2c2c2;
    line-height: 28px;
    margin-top: 30px;
}

footer .margin .a span {
    margin: 5px;
}

footer .margin .a span:hover {
    cursor: pointer;
    border-bottom: 1px solid #666;
}

footer .margin .b {
    justify-content: center;
    color: #c2c2c2;
    line-height: 24px;
}

footer .margin .b span {
    margin-right: 20px;
}

footer .margin .c {
    justify-content: center;
    color: #c2c2c2;
    line-height: 24px;
}

footer .margin .c span {
    margin-right: 20px;
}

footer .margin .d {
    margin-top: 10px;
    justify-content: center;
    justify-content: center;
    color: #c2c2c2;
    line-height: 24px;
}